<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite" parallel="classes" thread-count="5">
    <test name="AuthTests">
        <classes>
            <class name="com.project.BankingApp.basictests.ApiTests.auth.BasicAuthTest"></class>
            <class name="com.project.BankingApp.basictests.ApiTests.auth.BearerTokenTest"></class>
            <class name="com.project.BankingApp.basictests.ApiTests.auth.OAuthTest"></class>
        </classes>
    </test>

    <test name="BankTests">

        <parameter name="Value1" value="200"></parameter>
        <parameter name="Value2" value="500"></parameter>
        <parameter name="FinalBalance" value="1300"></parameter>

        <classes>
            <class name="com.project.BankingApp.basictests.ApiTests.bankaccount.BankAccountInitializationTests"></class>
            <class name="com.project.BankingApp.basictests.ApiTests.bankaccount.BankAccountAdvancedControlTests"></class>
            <class name="com.project.BankingApp.basictests.ApiTests.bankaccount.BankAccountDataDrivenTests"></class>
            <class name="com.project.BankingApp.basictests.ApiTests.bankaccount.BankAccountExceptionTests"></class>
            <class name="com.project.BankingApp.basictests.ApiTests.bankaccount.BankAccountParameterizedTests"></class>
            <class name="com.project.BankingApp.basictests.ApiTests.bankaccount.BankAccountTestListener"></class>
            <class name="com.project.BankingApp.basictests.ApiTests.bankaccount.BankAccountTransactionTests"></class>
        </classes>
    </test>
</suite>